/*************************************************************/
//                          ROBOTO
// REGULAR
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

// ITALIC
@font-face {
    font-family: "Roboto Italic", sans-serif;
    src: url("/fonts/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

// BOLD
@font-face {
    font-family: "Roboto Bold", sans-serif;
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

// BOLD ITALIC
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

// MEDIUM
@font-face {
    font-family: "Roboto Medium", sans-serif;
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

// MEDIUM ITALIC
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

// THIN
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

// THIN ITALIC
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

// LIGHT
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

// LIGHT ITALIC
@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

/*****************************************************************************************************/
//                                      MATERIAL ICONS  
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../frameworks/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../frameworks/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
      url(../frameworks/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
      url(../frameworks/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }