// DARKEN
@mixin setBgColorAndHoverDarken($bgColor, $percent){
    background-color: $bgColor;
    color: $white;
    &:hover{
          background-color: darken($baseColor, $percent);
    }
}

// LIGHTEN
@mixin setBgColorAndHoverLighten($bgColor, $percent){
    background-color: $bgColor;
    color: $white;
    &:hover{
          background-color: lighten($baseColor, $percent);
    }
}

// RADIUS ON ALL BROWSER 
@mixin borderRadius($radiuspx){
    -webkit-border-radius: $radiuspx;
    -moz-border-radius: $radiuspx;
    border-radius: $radiuspx;
}

// AROUND SQUARE IMAGE
@mixin setRoundedImg($size){
    @include borderRadius($size * 0.5px);
    overflow:hidden;
    width: $size * 1px;
    height: $size * 1px;
}