/**
*       MATERIAL UI COLORS
*       https://materialuicolors.co/
*       I chose the level [700]
*/

/**********************/
/******* COLORS *******/
// PALETTE DEFINITION
$red: #D32F2F;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;

$indigo : #3F51B5;
$blue: #2196F3;
$light-blue: #0288D1;
$cyan: #0097A7;

$teal:#00796B;
$green:#388E3C;
$light-green:#689F38;
$lime:#AFB42B;

$yellow:#FBC02D;
$amber:#FFA000;
$orange:#F57C00;
$deep-orange:#E64A19;

$brown:#5D4037;
$gray:#616161;
$blue-gray:#455A64; $light-gray: #e7e7ea;
$white: #fff;
$black: #000;

// COLOR THEME DEFINITION
$primary:       $deep-purple;
$secondary:     $light-blue;
$tertiary:      $light-gray;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
/****************************/


/*************************/
/********* FONTS *********/
// FONT SIZE DEFINITION
$xs-font: 0.777rem;
$sm-font: 1rem;
$md-font: 1.333rem;
$lg-font: 1.745rem;
$xl-font: 2.257rem;
// DEFAULT FONT THEME DEFINITION
$main-font: "Roboto";
$bold-font: "Roboto Bold";
$default-font-size: $md-font;

/**********************************/


/******************************/
/****** MARGIN / PADDING ******/
$spaceamounts: (0, 5, 10, 15, 20);
//$sides: (top, bottom, left, right);

// Accessing class as: "m-5 / m-10 / m-15 / m-20"
@each $space in $spaceamounts {
//   @each $side in $sides {
    //.m-#{str-slice($side, 0, 1)}-#{$space} {
    .m-#{$space}{
        margin: #{$space}px;
    }
  
    //.p-#{str-slice($side, 0, 1)}-#{$space} {
    .p-#{$space}{
        padding: #{$space}px;
    }
//   }
}
/********************************/


/*************************/
/********* SIZES *********/
$print-width: 22cm;
$print-height: 30cm;
/*************************/