// Import all the needed styles
@import 'partialsLoader';

// DEFAULT MARGES & FONTS
*{
    @extend .m-10;
    font-family: $main-font;
    font-size: $default-font-size;
}
body{
    @extend .m-5;
    @extend .p-5;
    background-color: $tertiary;
}
span.badge{
    float: right;
}

/***** HEADER ******/
header{
    border-bottom: solid 2px $secondary;
    // Size and round image 260*260
    
    .media{
        @extend .m-5;
        color: $primary;
        .age{
            display: inline;
        }

        .media-head{
            color: $secondary;
            font-weight: bold;
        }
        .roundedImg{
            @include setRoundedImg(260);
            border: solid 5px $secondary;
        }
        .media-head{
            display: flex;
        }
        #fast-infos p{
            margin-bottom: 0.5rem;
        }       
        hr{
            margin-top: 0.6rem;
            margin-bottom: 1rem;
            border: solid 2px $secondary;
            background-color: $secondary;
        }
        h5, h6, p{
            color: $primary;
        }
    }
}
.body{
    padding-bottom: 2rem;
}
/***** SIDEBAR *****/
.sidebar{
    @extend .p-5;
    color: $deep-purple;
    width: 35%;
    height: 100%;
    .card{
        background-color: $secondary;
        color: $tertiary;
        border: none;
        h3{
            font-family: $bold-font;
            font-weight: bold;
            margin: auto;
        }
        .list-group-item{
            border: none;
            color: $secondary;
        }
        .card-link{
            font-size: $md-font;
            &:hover{
                color: lighten($secondary, 25);
            }
        }
    }
    
    #skills{
        .progress{
            height: 25pt;
            .progress-bar{
                font-size: $md-font;
            }
        }
    }
    #languages{
        li{
            display: -webkit-inline-box;
        }
        .flag{
            width: 36pt;
            height: 24pt;
        }
    }
    
    #hobbies{
        flex-direction: row;
        padding: inherit;
        img{
            margin: auto;
        }
    }
}

/* CONTENT */
.content{
    @extend .p-5;
    color: lighten($secondary, 10);
    .card-header{
        color: $primary;
    }

    // Bold for all hx
    $i: 6;
    @while $i > 0 {
        h#{$i} { font-weight: bold; }
        $i: $i - 1;
    }
    div#professionalExp {
        border: 1px solid $secondary; 
    }
    div#schollExp {
        border: 1px solid $primary;
    }    
}

